
<form id="userForm">
  <label>flickr Username</label>
  <input name="name" type="text"> &nbsp &nbsp &nbsp <button type="submit" class="btn">Submit</button>
  <span class="help-block">Enter your flickr username.</span>
</form>
